{% extends 'base.html.twig' %}

{% block title %}dotaznik {% endblock %}

{% block body %}

    <style>
        .row.no-gutter {
            margin-left: 0;
            margin-right: 0;
        }
        .row.no-gutter [class*='col-']:not(:first-child),
        .row.no-gutter [class*='col-']:not(:last-child) {
            padding-right: 0;
            padding-left: 0;
        }
        .row > div {
            background: #ffffff;
            /*border: 1px solid;*/
        }

        .row {
            border: 1px solid;
        }

    </style>

<form method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label for="exampleInputEmail1">Vybrat zamestnanca :</label>
                     <select name="zamestnanec" title="Zamestnanec" id="zamestnanec">
                    <option selected></option>
                    {% for z in zamestnanec %}
                        <option value="{{ z.id }}">{{ z.meno }}</option>
                    {% endfor %}
                </select>
                </div>

                   <div class="col-md-6">
                    <label for="exampleInputEmail1">Typ formulara :</label>
                      <select name="typZobrazenia">
                    <option value="" selected></option>
                    <option value="tyzdenny">Tyzdenny</option>
                    <option value="mesacny">Mesacny</option>
                </select>
                </div>


                <div class="col-md-12">
                    <button type="submit">Spusti</button>
                </div>
        </div>
            </div>
        </div>
    </form>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>



{% endblock %}